name: Terraform CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:                         # <-- define env here once for the whole job
    ALICLOUD_ACCESS_KEY: ${{ secrets.ALICLOUD_ACCESS_KEY }}
    ALICLOUD_SECRET_KEY: ${{ secrets.ALICLOUD_SECRET_KEY }}

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version:  ">=1.6 <2.0"  

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Validate
        working-directory: terraform
        run: terraform validate

      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan -out=tfplan

      - name: Upload Terraform Plan
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: tfplan

      - name: Setup PEM file
        run: |
            mkdir -p ~/.ssh
            echo "${{ secrets.ALI_PEM_KEY }}" > ~/.ssh/aliyun_key.pem
            chmod 600 ~/.ssh/aliyun_key.pem

      - name: Apply only if there are changes
        working-directory: terraform
        if: steps.plan.outputs.stdout != ''
        run: terraform apply -auto-approve tfplan

      - name: Disable SSH host key checking
        run: |
          mkdir -p ~/.ssh
          echo -e "Host *\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
          chmod 600 ~/.ssh/config

      - name: Create inventory file
        run: |
          echo "[ecs]" > inventory.ini
          echo "test-server ansible_host=${{ secrets.ECS_HOST }} ansible_user=${{ secrets.ECS_USER }} ansible_private_key_file=~/.ssh/aliyun_key.pem" >> inventory.ini

      # Step 9: Run Ansible playbook
      - name: Run Ansible
        run: |
          ansible-playbook -i inventory.ini playbook.yml